
<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Title Page-->
    <title>MainPage</title>
    <%- include('./partial/head.ejs') %>
</head>

<body class="animsition">
    
    <div class="page-wrapper">
        <!-- MENU SIDEBAR-->
        <aside class="menu-sidebar2">
            <%- include('./partial/menu-sidebar'); %>
        </aside>
        <!-- END MENU SIDEBAR-->

        <!-- PAGE CONTAINER-->
        <div class="page-container">
            <div class="main-content">
                <div class="section__content section__content--p30">
                    <div class="container-fluid">
                        <%if(admin){%> 
                        <div class="row">
                            <div class="col-md-12">
                                <div class="overview-wrap">
                                    <a href='/invest/create'>                                    
                                    <button class="au-btn au-btn-icon au-btn--blue">
                                        <i class="zmdi zmdi-plus"></i>대회 생성
                                    </button>
                                </a>
                                </div>
                            </div>
                        </div>
                        <%}%>
                        <div class="row">
                            <div class="col-lg">
                                <h2 class="title-1 m-b-25">대회 목록</h2>
                                <div class="table-responsive table--no-card m-b-40">
                                    <table class ="table table-borderless table-data3">
                                        <thead>
                                            <tr>
                                                <th>대회 이름</th>
                                                <th>투자 금액(만원)</th>
                                                <th>시작 날짜</th>
                                                <th>끝 날짜</th>
                                                <th>상태</th>                                                
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <%for(var i=0; i< competitionData.length;i++){%>
                                                <tr>                               
                                                    <td>제<%=competitionData[i].competitionID%>회</td>
                                                    <td><%=competitionData[i].givenMoney%></td>
                                                    <td><%=competitionData[i].startDate%></td>
                                                    <td><%=competitionData[i].endDate%></td>
                                                    <% let today = new Date();
                                                    if(competitionData[i].joined==1){
                                                        if(competitionData[i].startDate > today){%>
                                                            <td><a href='/invest/<%=competitionData[i].competitionID%>/join'><button class="au-btn2 au-btn2--blue">대회모집</button></a></td>
                                                        <%}else if(competitionData[i].endDate > today){%>
                                                            <td><a href='/invest/<%=competitionData[i].competitionID%>'><button class="au-btn2 au-btn2--green">대회참여</button></a></td>
                                                        <%}else{%>
                                                            <td><a href='/invest/<%=competitionData[i].competitionID%>/result'><button  class="au-btn2 au-btn2--red">대회종료</button></a></td>
                                                        <%}%>
                                                    <%}else{
                                                        if(competitionData[i].startDate > today){%>
                                                            <td><a href='#'><button class="au-btn2 au-btn2--white">신청완료</button></a></td>
                                                        <%}else if(competitionData[i].endDate > today){%>
                                                            <td><a href='#'><button class="au-btn2 au-btn2--white">참여불가</button></a></td>
                                                        <%}else{%>
                                                            <td><a href='/invest/<%=competitionData[i].competitionID%>/result'><button  class="au-btn2 au-btn2--red">대회종료</button></a></td>
                                                        <%}%>
                                                    <%}%>    
                                                    
                                                    
                                                </tr>
                                            <%}%>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                          </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- END MAIN CONTENT-->
            <!-- END PAGE CONTAINER-->
        </div>

    </div>

    <%- include('./partial/body-js.ejs') %>

</body>

</html>
<!-- end document-->


