<!DOCTYPE html>
<html lang="en">

<head>
     <!-- Title Page-->
     <title>contest</title>
     <%- include('./partial/head.ejs') %>
    </head>

<body class="animsition">
    <div class="page-wrapper">
        <!-- MENU SIDEBAR-->
        <aside class="menu-sidebar2">
            <%- include('./partial/menu-sidebar'); %>
        </aside>
        <!-- END MENU SIDEBAR-->

        <!-- PAGE CONTAINER-->
        <div class="page-container">
            <div class ="section__content section__content--p30">
                    
                
                <!-- WELCOME-->
                <section class="welcome p-t-5">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-12">
                                <center>
                                    <h2 class="title-4 font-weight-bold">                                           
                                        제<%=competitionData[0].competitionID%>회 주식 모의 투자 대회 결과
                                    </h2>
                                </center>
                            </div>
                        </div>
                    </div>
                </section>
                <!-- END WELCOME-->

                <!-- BREADCRUMB-->
                <section class="au-breadcrumb2">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="au-breadcrumb-content">
                                    <div><h3 class="title-7 m-b-25">투자 금액 : <%=competitionData[0].givenMoney%> </h3>
                                        <%if(selfData!=false){%>
                                            <h3 class="title-7 m-b-25">내 수익금 : <%=selfData[0].total%></h3>
                                        <%}%>
                                        
                                    </div> 
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <!-- END BREADCRUMB-->
                   

                    <!-- STATISTIC-->
                <section class="statistic statistic2">
                    <div class="container">
                        <div class="row">
                                <% if(rankData.length>3){
                                    var length = 3;
                                }else{
                                    var length = rankData.length;
                                }
                                    for(var i =0; i< length; i++){%>
                                    <div class="col-lg-4">
                                        <div class="statistic__item">
                                            <center>
                                                <div class="h3 mb-3 font-weight-bold text-primary "> <%=i+1%>위 </div>
                                                <div class="h6 mb-2 font-weight-bold text-dark "> ID : <%=rankData[i].userID%> </div>
                                                <div class="h6 mb-2 font-weight-bold text-dark"> 잔   고 : <%=rankData[i].total%>원</div>
                                                <% var percent = 100*((rankData[i].total - competitionData[0].givenMoney)/competitionData[0].givenMoney);%>
                                                <div class="h6 mb-2 font-weight-bold text-dark">수 익 률 : <%=percent.toFixed(3)%>%</div>
                                            </center>
                                        </div>
                                    </div>
                                <%}%>
                        </div>
                    </div>
                </section>
                <!-- END STATISTIC-->
                                      
                <!-- END DATA TABLE-->
            </div>
            
        </div>

    </div>
    <%- include('./partial/body-js.ejs') %>
</body>

</html>
<!— end document—>
