<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Title Page-->
    <title>MainPage</title>
    <%- include('./partial/head.ejs') %>
</head>

<body class="animsition">
    <div class="page-wrapper">
        <!-- MENU SIDEBAR-->
        <aside class="menu-sidebar2">
            <%- include('./partial/menu-sidebar') %>
        </aside>
        <!-- END MENU SIDEBAR-->

        <!-- PAGE CONTAINER-->
        <div class="page-container">
            <!-- HEADER DESKTOP-->
            <%- include('./partial/header-desktop') %>
            <!-- HEADER DESKTOP-->


            <section class="au-breadcrumb m-t-75">
                <div class="section__content section__content--p30">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="au-breadcrumb-content">
                                    <div class="au-breadcrumb-left">
                                        <span class="au-breadcrumb-span">You are here:</span>
                                        <ul class="list-unstyled list-inline au-breadcrumb__list">
                                            <li class="list-inline-item active">
                                                <a href="#">투자</a>
                                            </li>
                                            <li class="list-inline-item seprate">
                                                <span>/</span>
                                            </li>
                                            <li class="list-inline-item">펀드</li>
                                        </ul>
                                    </div>
                                    <button class="au-btn au-btn-icon au-btn--green">

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- END BREADCRUMB-->

            <!-- STATISTIC-->

            <section class="p-t-20">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <h3 class="title-5 m-b-35">게시판</h3>
                         
                                    </div>
                                </div>
              
                <!-- DATA TABLE-->
                
                <div class="table-responsive table-responsive-data2">
                    <table  style="padding-top:50px" align = center width=700 border=0 cellpadding=2 >
                            <tr>
                            <td height=20 align= center bgcolor= #3868cd><font color=white>게시글</font></td>
                            </tr>
                            <tr>
                            <td bgcolor=white>
                            <table class = "table2">
                                    <tr>
                                    <td>제목</td>
                                    <td id="textttt" style="word-break:break-all" >
                                        <%=postData[0].title%> </td>
                                    </tr>
                                    <tr>
                                        <td>작성자</td>
                                        <td id="textttt" style="word-break:break-all" >
                                            <%=postData[0].userName%> </td>
                                        </tr>
                                    <tr>
                                    <td>내용</td>
                                    <td id="textttt" style="word-break:break-all">
                                        
                                        <%=postData[0].description%>
                                       
                                    </td>
                                    </tr>
                                </table>
                                <%if (admin||postData[0].userID==userID) {%>
                                    <center>
                                        <button class="au-btn--submit" type="submit"> <a href="/board/delete?id=<%=postData[0].boardID%>"><font color=white>삭제</font> </a> </button>
                                    </center>
                                <%}%>
                        </td>
                        </tr>
                </table>
                </form>
                </div>
               
                <div class="row">
                    <div class="col-md-12">
                </div>
                </div>
                                    

                      

            </section>

           
  
            <%- include('./partial/body-js.ejs') %>

        </body>
        
        </html>
        <!-- end document-->



